a{
  background-color: transparent;
}
#form {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
padding: 20px;
margin: 50px 0 ;
}
.form input {
 margin-top: 10px;
 padding: 5px;
}
.form button {
  margin-top: 10px;
  padding: 6px 30px;
  border-radius: solid 5px none;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}



