.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
   }
   .infoTitle{
     font-size: 60px;
     margin: 20px 0 30px 0;
     
   }
   .info{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin-top: 20px;
   }
   .input{
     width: 300px;
     height: 30px;
     padding-left: 10px;
     font-size: 20px;
   }
   .button{
     width: 320px;
     height: 40px;
     margin: 25px 0;
     padding: 10px;
     font-size: 20px;
     background-color: #c92e00;
     border: none;
     border-radius: 4px;
     color: white;
   }
   .button:hover{
     width: 320px;
     height: 40px;
     margin-top: 25px;
     padding: 10px;
     font-size: 20px;
     background-color: #962401;
     cursor: pointer;
   }
   .bodycomplist{
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: center;
     width: 100%
   }
   .bodycomp{
     width: 700px;
     height: auto;
     border: 1px solid black;
     margin: 10px;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 10px;
   }
   .bodycomp h3{
     margin: 20px;
   }
   .upDateInput{
    width: 250px;
    display: flex;
    justify-content: end;
    flex-direction: column;
    margin-left: 30px;
   }
   .upDateInput button{
     margin-bottom: 25px;
   }

   @media only screen and (max-width: 600px) {
    .bodycomp{
      width: 370px;
      height: auto;
      border: 1px solid black;
      margin: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      padding: 10px;
    }
    .infoTitle{
      font-size: 45px;
    }
  }